/* --- Basic Reset --- */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

/* --- Page center --- */
body{
  background:#f5f5f5;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
}

/* --- Card --- */
.signin-card{
  width:100%;
 max-width: 400px;
  background:#fff;
  border:1px solid #ddd;
  border-radius:8px;
  padding:20px;
}

/* --- Title --- */
.signin-form h2{
  text-align:center;
  margin-bottom:15px;
}

/* --- Form rows --- */
.form-row{
  margin-bottom:12px;
}

.form-row label{
  display:block;
  margin-bottom:5px;
  font-size:14px;
}

/* --- Inputs --- */
.form-row input{
  width:100%;
  padding:10px;
  border:1px solid #ccc;
  border-radius:5px;
  font-size:14px;
}

.form-row input:focus{
  outline:none;
  border-color:#72A9D4;
}

/* --- Checkbox row --- */
.checkbox-row{
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-size:13px;
  margin-bottom:10px;
}

.checkbox-row a{
  text-decoration:none;
  color:#72A9D4;
}

/* --- Button --- */
.primary-btn{
  width:100%;
  padding:10px;
  border:none;
  border-radius:5px;
  background: black;
  color:#fff;
  font-size:14px;
  cursor:pointer;
}



/* --- Bottom text --- */
.login-text{
  text-align:center;
  margin-top:12px;
  font-size:13px;
}

.login-text a{
  color:#72A9D4;
  text-decoration:none;
}

/* --- Error message --- */
.error-msg{
  color:red;
  font-size:13px;
  text-align:center;
  margin-bottom:10px;
}
