/* RESET */
 
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

/* TOP BAR */
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(43, 130, 245);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    z-index: 1000;
}
.top-bar input[type="button"]{
    margin-left: 400px;
    width: 120px;
    padding: 6px 12px;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.6);
    background: white;
    
    cursor: pointer;
}
.myuploadbutton{
    color: black;
    border: #ff4d4d;
   
    background: yellowgreen
}


.top-bar input {
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    width: 500px; /* make it wider */
    font-size: 16px;
}


.top-links {
    display: flex;
    gap: 15px;
    position: relative;
}

.top-links a {
    color: rgb(248, 248, 248);
    text-decoration: none;
    font-weight: bold;
}

/* PROFILE DROPDOWN */
.profile {
    position: relative;
    z-index: 1002;
}

.profile-menu {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    min-width: 100px;
    z-index: 2000;
}

.profile-menu a {
    display: block;
    padding: 8px 12px;
    color: black;
    text-decoration: none;
}

.profile-menu a:hover {
    background-color: #f0f0f0;
}

/* MAIN CONTENT */
.container {
    padding: 100px 20px 20px;
}

/* 4x4 GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

/* COURSE CARD - static */
.course {
    border: 1px solid #ccc;
    padding: 15px;
    text-align: center;
    background: #f9f9f9;
    border-radius: 6px;
    
}

.course img {
    width: 300px;
    height: 210px;
}

.course-title {
    display: block;
    margin: 10px 0;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: #1e3a8a; /* dark blue color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* nicer font */
    transition: color 0.3s;
}

/* FOOTER */
.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.footer a {
    color: #ff4d4d;
    margin: 0 5px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* RESPONSIVE */
@media screen and (max-width: 1200px) {
    .grid { grid-template-columns: repeat(3, 1fr); }
}
@media screen and (max-width: 900px) {
    .grid { grid-template-columns: repeat(2, 1fr); }
}
@media screen and (max-width: 600px) {
    .grid { grid-template-columns: 1fr; }
    .top-bar { flex-direction: column; align-items: flex-start; gap: 10px; }
}
