

  .welcome-msg{
    margin-top: 70px;   
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: yellowgreen;
  }


.form-box{
    max-width: 650px;
    margin: 120px auto 40px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 20px;
}

.form-box h2{
    margin-bottom: 12px;
}

.form-row{
    margin-bottom: 12px;
}

.form-row label{
    display:block;
    font-weight: 600;
    margin-bottom: 6px;
}

.form-row select,
.form-row input[type="file"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.actions{
    display:flex;
    gap:10px;
    margin-top: 14px;
}

.btn{
    padding: 10px 14px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-weight:600;
}

.btn-primary{
    background: rgb(43, 130, 245);
    width: 100%;
    color:#fff;
}

.btn-secondary{
    background:#666;
    color:#fff;
}

.msg{
    margin: 10px 0 14px;
    padding: 10px;
    border-radius: 6px;
    font-weight: 600;
}

.msg-error{
    background: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
.myuploadbutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
}
.feedbackbutton {
    background-color: skyblue; /* Blue */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 800px;
    cursor: pointer;
    border-radius: 6px;
}